<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page d'accueil</title>
</head>
<body>

    <h1>Bienvenue sur la page d'accueil</h1>

    <p><a href="http://localhost:8080/tous">Voir tous</a></p>

    <p><a href="http://localhost:8080/un">Voir 1er</a></p>


<!--    <p th:if="${todolist.isEmpty()}">La liste est vide</p>-->

<!--    <ul th:unless="${todolist.isEmpty()}" >-->
<!--        <li th:each="t : ${todolist}">-->
<!--            <a href="http://localhost:8080/un/${t}">Voir th:text="${t}"</a>-->
<!--            <span th:text="${t}"></span>-->
<!--        </li>-->
<!--    </ul>-->


</body>
</html>